<div class="form">
  <%= render partial: 'form', locals: {
                                      path: "/pets",
                                      method: :post,
                                      button_text: "Create Pet"
                                      } %>
</div>
